body{
	background-color: lightblue;
}
.container {
	display: grid;
	grid-template-columns: repeat(10, 1fr) ;
	grid-template-rows: auto;
	margin: 0 auto 0 auto; 
	grid-row-gap: 10px;
	grid-column-gap: 0px;
	font-family:Kristen ITC;
}
.headerMain{
	grid-column: span 10;
	text-align: center;
	background-color:lightgray;
	line-height:1.8em;
	float:left;
	color: black;
	font-size:30px;
	border: 5px solid;
}
.nav{
	grid-column: span 10;
	text-align:center;
	font-weight:100;
	padding: 20px;
	letter-spacing: 2px;
	font-weight:100;
	letter-spacing: 2px;
	font-size: 25px;
	color: gray;
	margin: 5px;
}