<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Home Budget</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="bliss_finance_app/views/style.css">
	</head>
	<body>
        <p>hi</p>
	</body>
</html>