<!DOCTYPE HTML>
<html>

<head>
    <title>Bliss Budget</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/bliss_finance_app/views/style.css" type="text/css"/>
</head>
<body>
    	<div class="headerMain">
				<h1>Bliss Finance Calculator </h1>
		</div>
		

		
		<form action="/homebudget" method="GET">
    		<div>
                <button>Home Budget</button>
            </div>
        </form>
        <form action="/businessbudget" method="GET">
    		<div>
                <button>Business Budget</button>
            </div>
        </form>
    
</body>
</html>